
.container {
    width: 35%;
    height: auto;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.totalAmount {
    text-align: right;
    color: #333;
    font-weight: bold;
    margin-top: 1rem;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
